/src/*
!/src/public/
/src/public/*
!/src/public/index.php
.DS_Store

/nginx/certs/*
!/nginx/certs/localhost.crt
!/nginx/certs/localhost.key

/nginx/conf.d/*
!/nginx/conf.d/localhost.conf
!/nginx/conf.d/localhost.conf

/mysql/databases/*
!/mysql/databases/.gitkeep